!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/landingstyle.css')
    script( src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/javascripts/landing.js')
  body!= body
