h3 {
    color:#2F7EA5;
    padding:5px;
    font-size: 15px;
    font-family:Century Gothic, Futura, Tahoma, sans-serif;;
    font-weight:normal;
    }
    
p {
    color:#5E4045;
    padding:0px;
    font-family:Century Gothic, Futura, Tahoma, sans-serif;;
    font-weight:normal;
	}
	
#top {
	height: 55px;
	padding-top:15px;
	}
	
#tagline {
	float:left;
	position:relative;
	bottom:5px;
	padding-left:10px;
	}

#logo {
	height: 50px;
	float: left;
	padding-left:10px;
	padding-bottom:5px;
	}


body {
	background-image:url('img/texture.jpg');
    }

svg {
	background-color: #fff;
	border:5px solid #5E4045;
    }

.dragging {
    fill: #2a5;
    }

svg {
    display: inline-block;
    }
    
#tools {
    display: inline-block;
    width: 45%;
    position: absolute;
    top: 40px;
    right: 5px;
    }

#tools>* {
    display: block;
    float: right;
    height:35px;
    margin: 0px 5px;
    }
    
#nav {
	position:absolute;
	top:-13px;
	right:10px;
	}
	
#nav>* {
	float:left;
	
	}
    
#userOptions {
	height:20px;
	position:relative;
	top:20px;
	}
	
#logoutIcon {
	height:20px;
	position:relative;
	top:20px;
	}
    
