/* general */

body * {
    vertical-align: top;
}

body {
    font-family:Century Gothic, Futura, Tohoma, sans-serif;
    color:#5E4045;
}

.center {
    margin:0 auto;
    display: inline-block
}

h1 {
    color:#2F7EA5;
    padding:0px;
    margin-bottom:0px;
    margin-left:220px;
    font-family:Century Gothic, Tahoma, sans-serif;
    font-weight:normal;
}

h3 {
    color:#2F7EA5;
    padding:0px;
    font-family:Century Gothic, Futura, Tahoma, sans-serif;;
    font-weight:normal;
}

p {
    padding:0px;
    font-family:Century Gothic, Futura, Tahoma, sans-serif;;
    font-weight:normal;
}

/* sign in */

#signin {
    height: 20px;
}

/* big circle display */

#circledisplay {
    height: 400px;
    margin-bottom: 20px;
}

#circle {
    height: 400px;
    display: block;
}

#logo {
    height: 100px;
    display:block;
    position: relative;
    bottom: 275px;
}

#tagline {
    text-align: center;
    position: relative;
    bottom: 275px;
}

/* email submit area */

#emailleft {
    padding-left : 51px;
}

#email_input {
    text-align: center;
    margin: 10px;
    vertical-align: top;
}

form input {
    font-size:14px;
    text-align:center;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 3px solid #2F7EA5;
}

form input[type="image"] {
    border: none;
}

#textbox {
    margin-left: 10px;
    width:250px;
    height:30px;
}

#goArrow {
    margin-right: 10px;
    margin-top: 7px;
}

#prompt {
    text-align: center;
    font-size: 14pt;
}

form input.error {
    border-color: #9E0B0B;
}

.error-msg {
    color: #9E0B0B;
    font-size:10px;
}

/* info area */

#info {
    width: 850px;
    display: block;
}

.info {
    display: inline-block;
    width: 400px;
    vertical-allign: top;
}

#info_left {
    text-align: right;
    margin: 10px 10px 10px auto;
    padding-left: 13px;
}

#info_right {
    margin: 10px auto 10px 10px;
    vertical-align: top;
}