div#my-ink
{
border:4px solid #5377AA;
margin:0px auto 0px auto;
}

body {
background-color:#DCEBF0;
margin: 0px;
overflow:hidden;
}

h1 {
color:#5377AA;
text-align:center;
font-family:Tahoma, Geneva, sans-serif;
padding:0px;
margin-bottom:0px;
}

p{
font-size:12px;
color:#5377AA;
text-align:left;
margin-left: 15px;
float:left;
}

button#erase {
float:right;
margin-right:15px;
}

div#wrapper {
	overflow:hidden;
	position:relative;
}


/* images */

#logo {
height:60px;
}

#arrow {
bottom:90%;
left:5%;
position:absolute;
height:100px;
}
